.removeMember {
  width: 70vw;
  background-color: #fff;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  padding: 2rem 0;
  color: #a196ff;
  font-size: 20px;
  border-radius: 20px;
}
