/* about */
#about-container {
  background-color: #d4ceff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
  color: #482dad;
  padding: 50px;
}
#about-heading {
  font-family: "Garet-Heavy";
  font-size: 30px;
}

#about-sub-heading {
  font-size: 14px;
  padding-top: 5px;
  color: #4018d0;
}

#about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
  font-size: 16px;
  padding-top: 20px;
}
#about-img {
  padding: 20px;
  width: 200px;
}

@media screen and (max-width: 768px) {
  /* about */
  #about-container {
    width: auto;
  }
}
