/* navbar */
#navbar, #navbar-ul{
    height: 80px;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    margin: 20px 0;
    padding: 10px;
  }
  #navbar-ul{
    /* background-color: rgba(255, 255, 255, 0.61); */
    background-color: #482DAD;
  }
  a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
  }
  a:hover{
    color: #76adfa;
    transition: color 0.5s ease-in-out;
  }
  #navbar-ul>li{
    padding: 1vw;
  }
  @media screen and (max-width : 768px) {

    /* navbar */
    #navbar, #navbar-ul{
      font-size: 10px;
      flex-wrap: wrap;
      height: auto;
    }
  }