
/* testimonials */

#testimonials-container{
  display: flex;
  flex-direction: column;
  background-color: #c1c3f9;
  align-items: center;
  justify-content: center;
  padding: 20vh 0;
  color: #482DAD;
}
#test-container{
  display: flex;
}
#test{
  /* background: linear-gradient(90deg, rgba(87,73,227,1) 0%, rgba(117,165,234,1) 60%, rgba(161,194,241,1) 100%); */
  width: 20vw;
  border-radius: 20px;
  padding: 20px;
  margin: 1vh;
  background-color: #948FFF;
  color: #482DAD;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#name-date{
  float: right;
}

@media screen and (max-width : 768px) {

/* testimonials */
 
  #testimonials-container{
    text-align: center;
  }
  #test-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #test{
    width: 70vw;
  }
}