@font-face {
  font-family: "Garet-Heavy";
  src: local("Garet-Heavy"),
    url(../src/assets/Garet-Heavy.ttf) format("truetype");
}
@font-face {
  font-family: "Garet-Book";
  src: local("Garet-Book"), url(../src/assets/Garet-Book.ttf) format("truetype");
}

html {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  background-color: #d4ceff;
}
.App {
  font-size: 14px;
  font-family: "Garet-Book";
}
#root {
  text-align: -webkit-center;
}
@media screen and (max-width: 768px) {
  .App {
    width: auto;
  }
}
